.container {
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
}

.cell {
    border: 1px solid black;
    text-align: center;
}

.display {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.restart-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}