.container {
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
}

.cell {
    border: 1px solid black;
    text-align: center;
}